@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@plugin 'daisyui' {
	themes:
		dark --default,
		dark --prefersdark;
}

:global(.leaflet-popup-content-wrapper) {
	@apply rounded-lg bg-base-100 shadow-lg;
}

.leaflet-popup-content {
	@apply m-0;
}

:global(.leaflet-popup-tip) {
	@apply bg-base-100;
}

:global(.leaflet-container a.leaflet-popup-close-button) {
	@apply text-base-content/60 hover:text-base-content;
}

@theme {
	--font-sans: 'Harmattan', system-ui, sans-serif;
	--font-serif: 'Zarid', system-ui, serif;
}

@layer base {
	@font-face {
		font-family: 'Zarid';
		src:
			url('/fonts/Zarid.woff2') format('woff2'),
			url('/fonts/Zarid.woff') format('woff'),
			url('/fonts/Zarid.ttf') format('truetype');

		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Harmattan';
		src: url('/fonts/Harmattan-Bold.ttf') format('truetype');

		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Harmattan';
		src: url('/fonts/Harmattan-Regular.ttf') format('truetype');

		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}
}
