@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@plugin 'daisyui' {
	themes:
		dark --default,
		dark --prefersdark;
}

:global(.leaflet-popup-content-wrapper) {
	@apply rounded-lg bg-base-100 shadow-lg;
}

.leaflet-popup-content {
	@apply m-0;
}

:global(.leaflet-popup-tip) {
	@apply bg-base-100;
}

:global(.leaflet-container a.leaflet-popup-close-button) {
	@apply text-base-content/60 hover:text-base-content;
}

@font-face {
	font-family: ‘CustomFont’;
	src: url(‘/font.woff2’) format(‘woff2’);

	font-weight: normal;
	font-style: normal;
}
